body {
  font-family: 'Inter', Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
}

.header-container {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-weight: 800;
  letter-spacing: 1px;
  font-size: 1.1rem;
}

.nav {
  display: flex;
  gap: 2rem;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  position: relative;
}

.nav a::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: width 0.3s ease;
}

.nav a:hover::after {
  width: 100%;
}

.container {
  width: min(1200px, 90%);
  margin: auto;
}

.grid {
  display: grid;
  gap: 2rem;
}

.hero {
  background: linear-gradient(180deg, #000 0%, #222 100%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding-top: 72px;
  position: relative;
  overflow: hidden;
}

.hero-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

}
.hero-visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-visual img {
  width: 600px;
  height: auto;
}

.hero h1 {
  font-size: 3.5rem;
  line-height: 1.1;
  font-weight: 700;
}

.hero p {
  font-size: 1.1rem;
  color: #ccc;
  max-width: 450px;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  padding: 0.9rem 2rem;
  border: none;
  border-radius: var(--radius);
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  transition: transform 0.25s ease, background-color 0.25s ease;
}

.btn-primary:hover {
  background-color: #e5e5e5;
  transform: scale(1.05);
}


.footer {
  padding: 4rem 0;
  border-top: 1px solid #222;
  margin-top: 6rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #aaa;
}

.footer-links {
  display: flex;
  gap: 1.5rem;
}

.footer a {
  color: #aaa;
  text-decoration: none;
}

.footer a:hover {
  color: #fff;
}

@media (max-width: 900px) {
  .hero-container {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .hero-content {
    align-items: center;
  }

  .hero p {
    max-width: 100%;
  }
  .footer-container {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}
